{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4">
      <h3 class="mb-3">Регистрация</h3>
      <form method="post">
        <div class="mb-3">
          <label class="form-label">Логин</label>
          <input class="form-control" name="username" placeholder="например ivan123">
        </div>
        <div class="mb-3">
          <label class="form-label">Пароль</label>
          <input type="password" class="form-control" name="password">
        </div>
        <div class="mb-3">
          <label class="form-label">Роль</label>
          <select class="form-select" name="role">
            {% for value, label in roles %}
            <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
          </select>
        </div>
        <button class="btn btn-gold w-100">Зарегистрироваться</button>
      </form>
      <div class="mt-3 text-center">
        <a href="/login">Уже есть аккаунт? Войти</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
